.container {
  min-height: 100vh;
  padding: 2rem 0.5rem;
}

.title {
  margin: 0 0 1.5em;
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: normal;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0 0 1.5em;

  select {
    margin-left: 1em;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  border: 2px solid lightgrey;
  border-radius: 2px;

  > div {
    border-right: 2px solid lightgrey;

    &:last-child {
      border: none;
    }
  }
}
